
extends layout
block append style
    link(rel='stylesheet', href='/stylesheets/index.css')
block append header
    .nav
        h1
            a(href="/") GMTI
        p /
        if (front)
            h1 #{front.name}
        else
            h1 New

block append content
    h3 Dashboards / Applications
    #departments
        each dashboard in dashboards
            #ux.department
                h2
                    a(href="#{front.uri}/#{dashboard.uri}") #{dashboard.name}



