
extends layout

block append style
    link(rel='stylesheet', href='/stylesheets/index.css')
block append header
    h1 GMTI
    p This web application was built for the GMTI NOC.  The webapp was created by Derek Rada and is currently hosted on #{computer}.  Please contact him if you are having issues or would like to submit a request for feature / change.  drada@gmti.gannett.com

block append content
    h3 Datacenter or Applications:
    #departments
        if (fronts)
            each front in fronts
                .department
                    h1
                        a(href="#{front.url}") #{front.name}
        else
            #moc.department
                h1
                    a(href="/moc") MOC
            #phx.department
                h1
                    a(href="/phx") PHX
