
extends layout

block append style
    link(rel='stylesheet', href='/stylesheets/index.css')
block append header
    h1 GMTI
    p This web application was built for GMTI.  This webapp was created by Derek Rada and is currently hosted on #{computer}.  Please contact him before troubleshooting

block append content
    h3 Departments / Applications:
    #departments
        #noc.department
            h1
                a(href="/noc") NOC
