
extends layout

block append style
    link(rel='stylesheet', href='/stylesheets/index.css')
block append header
    h1 GMTI
    p Web App designed for manual tasks and automation.  This webapp is hosted on #{computer}

block append content
    p Content

block append footer
    p Created by Derek Rada
