doctype html
html
  head
    title GMTI Web App
    block style
        link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .layout-wrapper.layout-wrapper-header
        block header
    .layout-wrapper.layout-wrapper-content
        block content
    .layout-wrapper.layout-wrapper-footer
        block footer
    block scripts
