//
   Created by Dirrk on 4/27/2014.

extends layout

block append style
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/manage.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")

block append header

    .nav
        h3
            a(href="/") GMTI

block append content

    #manage(ng-app="manageApp", ng-controller="manageCntrl")

        #tabs
            tabset
                tab(heading="Servers")
                    #servers.innerTab
                        #topArea
                            #filterArea
                                label Search:&nbsp
                                input(ng-model="$parent.searchText", id="serverSearch")
                                button(ng-click="$parent.addServer()") add
                            #performTask
                                label Perform Task &nbsp
                                select(ng-options="task.name for task in serverTasks", ng-model="$parent.taskSelected")
                                button(ng-click="$parent.runTask()") Run

                        table.table
                            thead
                                th.clickable(ng-click="$parent.sortServers = 'server'; $parent.reverse=!reverse") Server Name
                                th.clickable(ng-click="$parent.sortServers = 'group'; $parent.reverse=!reverse") Group
                                th.clickable(ng-click="$parent.sortServers = 'lastUpdate'; $parent.reverse=!reverse") Activity
                                th.clickable(ng-click="$parent.sortServers = 'selected'; $parent.reverse=!reverse") Options

                            tbody
                                tr(ng-repeat="server in servers | filter:$parent.searchText | orderBy:$parent.sortServers:$parent.reverse")
                                    td {{server.server}}
                                    td
                                        select(ng-options="group.name for group in groups", ng-model="server.group", value="{{server.group}}")

                                    td {{server.lastUpdate}}
                                    td
                                        .spaceout
                                            input(type="checkbox", ng-model="server.selected")
                                            button(ng-click="delServer($index)") Delete
                                            button(ng-click="saveServer($index)") Save

                        #serverModal.radamodal
                            .radamodalClose
                                span X
                            #serverModalTitle
                                h4 Add a new server
                            #serverModalForm
                                .stackedForm
                                    label(popover="add multiple by placing each server on a new line",  popover-trigger="mouseenter", popover-placement="left") Server(s) Name:
                                    textarea#serverCreateName(ng-model="$parent.serverCreateName")
                                .stackedForm
                                    label Group:
                                    select(ng-options="group.name for group in groups", ng-model="$parent.serverCreateGroup")
                            #serverModalButtons
                                button(ng-click="$parent.createServer()") Create

                        #serverMassGroupChange.radamodal
                            .radamodalClose
                                span X
                            #serverMassGroupChangeArea
                                .stackedForm
                                    label(popover="Change multiple servers groups to this group:",  popover-trigger="mouseenter", popover-placement="left") Select a group:
                                    select(ng-options="group.name for group in groups", ng-model="$parent.serverEditGroup")
                            #serverMassGroupChangeButtons
                                button(ng-click="$parent.serverEditMassGroup()") Set Group


                tab(heading="Groups")
                    #groups.innerTab

                        #createGroup
                            label Create: &nbsp
                            input(ng-model="$parent.createGroup")
                            button(ng-click="$parent.addGroup()") add
                        #groupTable
                            table.table
                                thead
                                    th ID#
                                    th Group Name
                                    th Options
                                tbody
                                    tr(ng-repeat="group in groups")
                                        td
                                            input(type="text", value="{{group.id}}", readonly)
                                        td
                                            input(type="text", value="{{group.name}}", ng-model="group.name")
                                        td
                                            .spaceout
                                                button(ng-click="$parent.delGroup($index)") Delete
                                                button(ng-click="$parent.saveGroup($index)") Save


                tab(heading="Dashboards")
                    #dashboards.innerTab
                        #createDashboard
                            .dashboard-split
                                .dashboard-split-left
                                    .stackedForm
                                        label ID:
                                        input(ng-model="$parent.createDashID", placeholder="id_has_no_spaces")
                                    .stackedForm
                                        label Front:
                                        select(ng-model="$parent.createDashFront")
                                            option(value="1") MOC
                                            option(value="2") PHX
                                    .stackedForm
                                        label Name:
                                        input(ng-model="$parent.createDashName", placeholder="Name")
                                .dashboard-split-right
                                    .stackedForm
                                        label Groups
                                        #groupSelectionArea
                                            table
                                                tr(ng-repeat="group in groups", ng-class-odd="'odd'")
                                                    td {{group.name}}
                                                    td
                                                        input(type="checkbox", id="DashCreate-selectedGroup-{{$index}}")
                            .dashboard-under
                                .stackedForm
                                    label Description:
                                    textarea(ng-model="$parent.createDashDesc", placeholder="Description")
                            button#createDash(ng-click="$parent.createDash()") Create


                        #listDashboards
                            accordion(close-others="false")
                                accordion-group(ng-repeat="dashboard in dashboards", heading="{{dashboard.id}} :: {{dashboard.name}} :: {{dashboard.description}}")
                                    .editDashboard
                                        .dashboard-split
                                            .dashboard-split-left-1
                                                .stackedForm
                                                    label ID:
                                                    input(ng-model="dashboard.id", readonly)
                                                .stackedForm
                                                    label Front:
                                                    select(ng-model="dashboard.front")
                                                        option(value="1") MOC
                                                        option(value="2") PHX
                                                .stackedForm
                                                    label Name:
                                                    input(ng-model="dashboard.name")
                                            .dashboard-split-right-1
                                                .stackedForm
                                                    label Groups
                                                    #groupSelectionArea
                                                        table
                                                            tr(ng-repeat="group in groups", ng-class-odd="'odd'")
                                                                td {{group.name}}
                                                                td
                                                                    input(type="checkbox", id="Dash-{{$parent.$index}}-selectedGroup-{{$index}}")
                                        .dashboard-under-1
                                            .stackedForm
                                                label Description:
                                                textarea(ng-model="dashboard.description", placeholder="Description")
                                        .spaceout
                                            button.saveDash(ng-click="$parent.delDash($index)") Delete
                                            button.saveDash(ng-click="$parent.saveDash($index)") Save
        #notificationArea
            p#notificationText
            #notificationExit
                p x




block append scripts
    script(type='text/javascript', src='/javascripts/flot/jquery.min.js')
    script(type='text/javascript', src='/javascripts/angular.js')
    script(type='text/javascript', src='/javascripts/ui-bootstrap-tpls-0.9.0.min.js')
    script(type='text/javascript', src='/javascripts/manage.js')
