
extends layout
block append style
    link(rel='stylesheet', href='/stylesheets/index.css')
block append header
    h1 GMTI NOC
    p Select a dashboard below
block append content
    label Dashboards here
    #dashboardsList
block append footer
    p Created by Derek Rada

