
extends layout
block append style
    link(rel='stylesheet', href='/stylesheets/index.css')
block append header
    .nav
        h1
            a(href="/") GMTI
        p >
        h1 NOC

block append content
    h3 Dashboards / Applications
    #departments
        #ux.department
            h2
                a(href="/noc/ux") AIME UX


