//
   Created by Derek on 5/22/2014.
doctype html

html
    head
        title Reporting Page
        block style
            link(rel='stylesheet', href='/stylesheets/reports.css')

    body

        #dashboardArea


        //
            Scripts
        script(type='text/javascript', src='/javascripts/flot/jquery.min.js')
        script(type='text/javascript', src='/javascripts/flot/jquery.flot.min.js')
        script(type='text/javascript', src='/javascripts/flot/jquery.flot.orderBars.js')
        script(type='text/javascript', src='/javascripts/flot/jquery.flot.tooltip.min.js')
        script(type='text/javascript', src='/javascripts/flot/jquery.flot.time.min.js')
        script(type='text/javascript', src='/javascripts/flot/jquery.flot.selection.min.js')
        script(type='text/javascript', src='/javascripts/flotWidgets.js')

