//
   Created by Derek Rada on 4/18/2014.
extends layout
block append style
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/noc.css')
    link(rel='stylesheet', href='/stylesheets/uilayout.css')

block append header
    .nav
        h1
            a(href="/") GMTI
        p >
        h1
            a(href="/noc") NOC
        p >
        h1 AIME UX


block append content
    #title
        h2 nginx/uWSGI front end servers.  CPU/Memory data
    #flot-container
        #cpubar.flotFullWShortH
        #line2
            #cpuGauge.flotGauge
            #memGauge.flotGauge
            #topUsage.flotGauge(ng-app="usageApp", ng-controller="usageCntrl")
                #cpu
                    table
                        thead
                            tr
                                th High CPU
                                th %
                        tbody
                            tr.selectable(ng-repeat="server in CPUServers")
                                td(ng-click="drillDown(server.server)") {{server.server}}
                                td(ng-click="drillDown(server.server)") {{server.cpu}}
                #memory
                    table
                        thead
                            tr
                                th High Memory
                                th %
                        tbody
                            tr.selectable(ng-repeat="server in MemServers")
                                td(ng-click="drillDown(server.server)") {{server.server}}
                                td(ng-click="drillDown(server.server)") {{server.mem}}
            // #timeChart.flotMediumWShortH

    #drilldownModal
        #modalClose
            span X
        #drillDownTitle Server:
        #drillDownHolder.flotFullWShortH
        // #cputime.flotFullWShortH

block append footer
    p Click to on a bar to drill down to that specific server.
    p Data is refreshed every 30 seconds but could be up to 1 minute old.  Data is discarded after an hour.

block append scripts
    script(type='text/javascript', src='/javascripts/flot/jquery.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.orderBars.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.tooltip.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.time.min.js')
    script(type='text/javascript', src='/javascripts/angular.js')
    script(type='text/javascript', src='/javascripts/uxDashboard.js')

