.innerTab {
  padding: 1em;
}
.spaceout input,
.spaceout button {
  margin: 0 10px 0 10px;
}
#filterArea {
  margin: 1em;
  float: left;
}
#performTask {
  margin: 1em;
  float: right;
}
#performTask button {
  margin-left: 10px;
}
#groupTable {
  width: 50%;
}
.saveArea {
  float: right;
}
#serverModal {
  width: 300px;
  height: 400px;
  margin-top: -200px;
  margin-left: -150px;
}
#serverModalTitle {
  text-align: center;
  color: #428bca;
}
#serverModalButtons {
  width: 100%;
  margin: 0 auto 1em auto;
  text-align: right;
}
#serverModalForm textarea {
  height: 130px;
  max-height: 135px;
  max-width: 255px;
}
#serverMassGroupChange {
  width: 300px;
  height: 200px;
  margin-top: -150px;
  margin-left: -100px;
}
#serverMassGroupChangeButtons {
  float: right;
}
.clickable {
  cursor: pointer;
}
#notificationArea {
  color: black;
  margin: 5em auto 5px auto;
  width: 502px;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -250px;
  height: 52px;
  display: none;
  border-radius: 5px;
  border: solid 1px;
}
#notificationText {
  padding: 12px;
  font-size: medium;
  font-weight: 600;
  float: left;
  max-width: 450px;
  width: 450px;
}
#notificationExit {
  float: right;
  width: 50px;
  height: 50px;
  padding: 10px 15px 10px 10px;
}
#notificationExit p {
  font-size: x-large;
  font-family: monospace;
  text-align: center;
  margin: 0px;
  color: #404040;
  opacity: 0.65;
}
.info {
  background-color: #339bb9;
}
.warn {
  background-color: #eedc94;
}
.fail {
  background-color: #c43c35;
}
.pass {
  background-color: #57a957;
}
#createDashboard {
  position: relative;
}
.dashboard-split {
  position: relative;
  top: 0;
  display: inline-block;
}
.dashboard-split-left {
  width: 400px;
  display: inline-table;
  height: 310px;
  margin: 25px;
}
.dashboard-split-right {
  width: 400px;
  display: inline-table;
  height: 310px;
  margin: 25px;
}
.dashboard-under {
  margin-top: -2em;
  width: 800px;
  margin-left: 12px;
}
#groupSelectionArea table {
  width: 100%;
}
#groupSelectionArea td:first-child {
  width: 80%;
}
#groupSelectionArea td:last-child {
  width: 20%;
}
.odd {
  background-color: #efefef;
}
#groupSelectionArea {
  overflow-y: scroll;
  max-height: 270px;
}
#createDashboard {
  width: 900px;
}
#createDash {
  position: relative;
  bottom: 6em;
  left: 805px;
}
