.innerTab {
  padding: 1em;
}
.spaceout input,
.spaceout button {
  margin: 0 10px 0 10px;
}
#filterArea {
  margin: 1em;
  float: left;
}
#performTask {
  margin: 1em;
  float: right;
}
#performTask button {
  margin-left: 10px;
}
#groupTable {
  width: 50%;
}
.dashboard-container textarea {
  width: 90%;
  margin-left: 1em;
}
.dashboard-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.dashboard-container label {
  padding: 1em;
}
.saveArea {
  float: right;
}
#serverModal {
  width: 300px;
  height: 400px;
  margin-top: -200px;
  margin-left: -150px;
}
#serverModalTitle {
  text-align: center;
  color: #428bca;
}
#serverModalButtons {
  width: 100%;
  margin: 0 auto 1em auto;
  text-align: right;
}
#serverModalForm textarea {
  height: 130px;
  max-height: 135px;
  max-width: 255px;
}
#serverMassGroupChange {
  width: 300px;
  height: 200px;
  margin-top: -150px;
  margin-left: -100px;
}
#serverMassGroupChangeButtons {
  float: right;
}
.clickable {
  cursor: pointer;
}
