.innerTab {
  padding: 1em;
}
.spaceout input,
.spaceout button {
  margin: 0 10px 0 10px;
}
#filterArea {
  margin: 1em;
  float: left;
}
#performTask {
  margin: 1em;
  float: right;
}
#performTask button {
  margin-left: 10px;
}
#groupTable {
  width: 50%;
}
