@c-gray: #f3f3f3;
@bg-black: #282828;
@c-black: #131313;
@cpu: #00B7FF;
@mem: #FFB700;
@c-blue: #00b7ff;
.layout-wrapper-content
{
  background-color: @bg-black;
  border-radius: 15px;
}
#cpubar .flot-x-axis .flot-tick-label
{
  color: white;
  padding-top: 3px;
  font-weight: bold;
  -webkit-transform: rotate(-45deg);
}

#topUsage td:last-child
{
  text-align: right;
}
#topUsage td:first-child
{
  text-align: left;
}
#topUsage th:last-child
{
  text-align: right;
}
#topUsage th:first-child
{
  text-align: left;
}
#topUsage .selectable:hover
{
  background-color: @c-black;

}
.selectable
{
  cursor: default;
  font-size: large;
  color: @c-blue;
}

#topUsage table
{
  width: 100%;
  border:1px solid @c-black;
  border-collapse:collapse;
  margin-bottom: 5px;
  font-size: medium;
}
#topUsage th
{
  color: @c-gray;
}
#cpu th
{
  color: @cpu;
}
#memory th
{
  color: @mem;
}
#cpu td,
#memory td
{
  color: white;
}

#topUsage
{
  width: 200px;
  height: 300px;
  display: inline-block;
  margin-right: 10px;
}

#hiddenField
{
  display: hidden;
}

