@c-gray: #f3f3f3;
@bg-black: #282828;
@c-black: #131313;

.layout-wrapper-content
{
  background-color: @bg-black;
  border-radius: 15px;
}
.flot-x-axis .flot-tick-label
{
  color: @bg-black;
}

#cpubarLabel
{
  font-size: large;
  color: @c-gray;
  text-align: center;
  background-color: @c-black;
  display: none;
  width: 200px;
  margin: 0 5em 0 auto;
  padding: 0;
  border-radius: 5px;
}