.layout-wrapper-content {
  background-color: #282828;
  border-radius: 15px;
}
#cpubar .flot-x-axis .flot-tick-label {
  color: #282828;
}
#topUsage td:last-child {
  text-align: right;
}
#topUsage td:first-child {
  text-align: left;
}
#topUsage th:last-child {
  text-align: right;
}
#topUsage th:first-child {
  text-align: left;
}
#topUsage .selectable:hover {
  background-color: #131313;
}
.selectable {
  cursor: default;
  font-size: large;
  color: #00b7ff;
}
#topUsage table {
  width: 100%;
  border: 1px solid #131313;
  border-collapse: collapse;
  margin-bottom: 5px;
  font-size: medium;
}
#topUsage th {
  color: #f3f3f3;
}
#cpu th {
  color: #00b7ff;
}
#memory th {
  color: #ffb700;
}
#cpu td,
#memory td {
  color: white;
}
#topUsage {
  width: 200px;
  height: 300px;
  display: inline-block;
  margin-right: 10px;
}
#hiddenField {
  display: hidden;
}
