@c-gray: #f3f3f3;
@c-blue: #00B7FF;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: @c-blue;
}
.layout-wrapper
{
  margin: 0 auto 0 auto;
  width: 80%
}
.layout-wrapper-header {
  margin-top: 1em;
}
.layout-wrapper-content {
  padding: 15px;
}
.layout-wrapper-footer {
  position: relative;
  bottom: 0px;
}