body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #282828;
}
a {
  color: #00b7ff;
}
.layout-wrapper {
  margin: 0 auto 0 auto;
  width: 95%;
}
.layout-wrapper-header {
  margin-top: 1em;
}
.layout-wrapper-content {
  padding: 15px;
}
.layout-wrapper-footer {
  position: relative;
  bottom: 0px;
}
.hidden {
  display: none;
}
